<app-header></app-header>
<app-video-popup></app-video-popup>

<div class="full-page-wrapper purple-bg">
  <div class="container">
    <div class="inner-page-container no-bottom-spacing">
      <h1>Miracle Origin Story</h1>

      <div class="privacy-policy-wrapper center">
        <div class="policy_inner without_numbers">
          <h2>Twas the month before Christmas and all through New York…</h2>
          <p>Jim and Dylan were living in Chelsea when they mysteriously received hundreds of letters to Santa. Wrought and overwhelmed, the guys did everything they could to find out where the letters were coming from. It was during a party at the apartment where some people had collectively suggested to take a letter. Sarah Klein was there, and she thought this would make for a <a href="javascript:void(0)" (click)="openVideoPopup()">great short film.</a></p>

          <figure>
            <img src="assets/images/origin-snap.png" alt="">
          </figure>

          <p>Jim, an eager theatre elf, was immediately propelled to action and went door-to-door, theatre-to-theatre all around New York to get people to take the letters. Over 150 letters were fulfilled that year.</p>
          <p>That Christmas, Jim and Dylan were featured on the homepage of the New York Times with Sarah Klein and Tom Mason’s video, entitled “Miracle on 22nd Street.”</p>

          <figure>
            <img src="assets/images/origin-snap1.png" alt="">
          </figure>

          <p>Since then, thousands of people have volunteered to help, and inspired Amanda Lehner to encourage us to make an official non-profit that connects families in need with real-life elves.</p>
          <p>The story has inspired a major-motion picture that is written by Tina Fey and coming out in 2020, just in time for the 10th year anniversary!</p>

          <figure>
            <img src="assets/images/origin-snap2.png" alt="">
          </figure>

        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>