<div class="search-bar">
  <div class="search_left">
    <i><img src="assets/images/search.svg" alt=""></i>
    <input type="text"  placeholder="Search family beased on names, organizations or location">
  </div>
  <button class="search_btn">
    <i>
      <img src="assets/images/filter-icon.svg" alt="">
      <em class="count">2</em>
    </i>Filter
  </button>
</div>
<div class="custom-tag-wrapper">
  <ul>
    <li class="custom-tag">
      <span>Family Prefrences</span>
      <button class="close"><img src="assets/images/close.svg" alt=""></button>
    </li>
    <li class="custom-tag">
      <span>Organizations</span>
      <button class="close"><img src="assets/images/close.svg" alt=""></button>
    </li>
    <li>
      <button class="text-btn">Remove all</button>
    </li>
  </ul>
</div>
