<div class="full-page-wrapper">
  <div class="content-wrapper login-signup-container">
    <div class="left-container">
      <div class="login-signup-content">
        <a [routerLink]="['/signup']" class="return-link"><img src="assets/images/rounded-left-arrow.svg" alt=""></a>
        <a href="#" class="logo">
          <img src="assets/images/logo-orange.svg" />
        </a>
        <div class="inner-content verify-email">
          <div class="verify-code">
            <img src="assets/images/verify-email.svg" />
          </div>
          <h2>Verify your Email</h2>
          <p>Please go to your email and click the link to confirm your sign up.</p>
          <a [routerLink]="['/login']" class="dark-orange-button" title="Go back to login">GO BACK TO LOGIN</a>
        </div>
      </div>
    </div>
    <div class="right-container" style="background-image: url('assets/images/banner.svg')">
    </div>
  </div>
</div>