<div class="modal-overlay" (click)="closeLetterProfileViewPopup()"></div>
<div class="modal-wrapper">
  <div class="modal modal-md">
    <div class="modal-body">
      <button class="close-modal" (click)="closeLetterProfileViewPopup()" title="close">
        <img src="assets/images/close.svg" alt="">
      </button>
      <div class="profile-image">
        <img [src]="santa_letter" alt="">
      </div>
      <div class="profile-detail">
        <div class="user_with_status">
          <i><img [src]="photo" alt=""></i>
        </div>
        <div class="address-block">
          <h3>{{name}}</h3>
          <p>{{state}}</p>
        </div>
      </div>
    </div>
  </div>
</div>