<div class="full-page-wrapper">
  <div class="after-login-container">
    <div class="content">
      <app-onboarding-elf-nav></app-onboarding-elf-nav>
      <h2>Choose your Organizations</h2>
      <form [formGroup]="organisations" name="organisations">
        <div class="form-group"
          [ngClass]="{'has-error':organisations.get('organisation').invalid && organisations.get('organisation').touched}">
          <label>Please select an organization if you are affiliated with one. If not, please select No Affiliation and click Finish.*</label>

          <ejs-multiselect   formControlName="organisation"  class="form-control multi-select" [dataSource]='organisationsData'  
            [value]='organisationsDefault' [fields]='organisationsFields'
            [placeholder]='organisationsWaterMark'  ></ejs-multiselect>
       
        <span class="error-msg" *ngIf="organisations.get('organisation').invalid && organisations.get('organisation').touched">
            <span *ngIf="organisations.get('organisation').errors.required">
              This field is required
            </span>
          </span> 
        </div>
        <div class="btn-block two-button">
          <a [routerLink]="['/onboarding/elf/budget']" class="btn prev-arrow-button" (click)="clickPrevious()" title="Previous">Previous</a>
          <!-- <a  [ngClass]="{'disable':organisations.invalid}" class="btn next-arrow-button " title="Finish" (click)="onSubmit(organisations.value)">Finish</a> -->
          <a  [ngClass]="{'disable':organisations.invalid}" class="btn next-arrow-button " title="Finish" (click)="onSubmit()">Finish</a>
        </div>
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
      </form>
    </div>

    <app-onboarding-footer></app-onboarding-footer>

  </div>
</div>