<app-header></app-header>

<div class="full-page-wrapper purple-bg">
  <div class="container">
    <div class="content-wrapper">
      <div class="left-container">
        <div class="landing-page-container">
          <h1>Code of Conduct</h1>
          <p>I agree that I am a parent, over 18 and understand and agree to the terms and conditions. I am a real person and a real family in need. I understand that I will be giving my personal information over to another person who can help and may be in touch. Continuing with this does not mean that I will be adopted by an elf. I understand that the people who run Miracle on 22nd Street are not responsible for any communications beyond the connection we've made through email. Please read our privacy policy. I agree to the Miracle Code of Conduct.</p>

          <!-- <a class="orange-button" title="I understand and agree to this" (click)="backClicked()">
            I understand and agree to this <span><img alt="" src="assets/images/right-arrow.svg"></span>
          </a> -->
        </div>
      </div>
      <div class="right-container" style="background-image: url('assets/images/terms-banner.svg')">
      </div>
    </div>
  </div>

  <app-footer></app-footer>

</div>