<app-inner-header></app-inner-header>

<div class="inner-page-wrapper">
  <div class="container lg">
    <div class="row">
      <div class="col2 family_left_content">
        <div class="page_info">
          <h3>Blocked Users</h3>
          <!-- <p>Lorem Ipsum is simply dummy</p> -->
        </div>

        <app-admin-menu></app-admin-menu>
      </div>

      <div class="col10">

        <div class="search-bar">
          <div class="search_left">
            <i><img src="assets/images/search.svg" alt=""></i>
            <input type="text" placeholder="Search with Name">
          </div>
          <button class="search_btn">
            <i>
              <img src="assets/images/filter-icon.svg" alt="">
              <!-- <em class="count">2</em> -->
            </i>Filter
          </button>
        </div>

        <div class="info-wrapper">
          <div class="user-info-detail" [routerLink]="['/admin/blocked-users/profile']" *ngFor="let families of matchedFamilies | paginate: { itemsPerPage: 6, currentPage: p }">
            <div class="img-block">
              <a href="javascript:void(0)" class="img-inner">
                <img src={{families.img}} alt="">
              </a>
              <span class="cyan_strip truncated" title={{families.cyanStrip}}>{{ families.cyanStrip }}</span>
            </div>
            <div class="address-block">
              <h3>{{ families.name }}</h3>
              <p>{{ families.location }}</p>
            </div>
          </div>
        </div>
        <pagination-controls  autoHide="true" class="stylePagination" responsive="true" (pageChange)="p = $event"></pagination-controls>
      </div>

    </div>
  </div>
</div>