<div class="full-page-wrapper">
  <div class="after-login-container">
    <div class="content">
      <app-onboarding-family-nav></app-onboarding-family-nav>
      <h2>Budget range (per child) & Tag Organizations</h2>
      <form class="budget-and-organization" name="budgetandOrg" [formGroup]="budgetandOrg">


        <!-- <div class="custom_radio_with_tick_container">
          <div class="custom_radio_tick_outer">
            <label>Up to <span>$25</span> USD</label>
            <input type="radio" name="budget" class="custom_input" formControlName="budget" value="Up to $25"
              [checked]="checked" >
            <div class="outer_border">
              <div class="tick"></div>
            </div>
          </div>

          <div class="custom_radio_tick_outer">
            <label>Up to <span>$50</span> USD</label>
            <input type="radio" name="budget" class="custom_input" formControlName="budget" value="Up to $50"
              [checked]="checked">
            <div class="outer_border">
              <div class="tick"></div>
            </div>
          </div>

          <div class="custom_radio_tick_outer">
            <label>Up to <span>$100</span> USD</label>
            <input type="radio" name="budget" class="custom_input" formControlName="budget" value="Up to $100"
              [checked]="checked" >
            <div class="outer_border">
              <div class="tick"></div>
            </div>
          </div>

          <div class="custom_radio_tick_outer">
            <label>&nbsp; <span>$100+</span> USD</label>
            <input type="radio" name="budget" class="custom_input" formControlName="budget" value="Up to $100+"
              [checked]="checked" >
            <div class="outer_border">
              <div class="tick"></div>
            </div>
          </div>
        </div> -->

        <div class="budget-organization-details">
          <h4>Budget range should be about $25 per child*</h4>
          <p>Each child is expected to receive a gift of <span class="higlighted_text">$25</span> value or greater. Please click next to acknowledge.</p>
        </div>


        <h4>Tag our Organizations*</h4>
        <!-- <p>Have you joined Miracle through one of these organizations? If not, or don't understand what we are talking about here, just select no.*</p> -->
        <p>If you are submitting a letter through an organization, please select your organization below. If you are not affiliated with an organization please select "no affiliation".</p>
        <div class="form-group" [ngClass]="{'has-error':budgetandOrg.get('organisation').touched && budgetandOrg.get('organisation').invalid}">
          <ejs-multiselect class="form-control multi-select" [dataSource]='organisationsData' formControlName="organisation" [value]='organisationsDefault' [fields]='organisationsFields' [placeholder]='organisationsWaterMark'></ejs-multiselect>
          <span class="error-msg" *ngIf="budgetandOrg.get('organisation').touched && budgetandOrg.get('organisation').invalid">
            <span *ngIf="budgetandOrg.get('organisation').errors.required">
              This field is required
            </span>
          </span>
        </div>

        <div class="form-group">
          <label>Facebook profile link (Optional)</label>
          <input type="text" class="form-control small-input link-input" formControlName="facebookLink"  (click)="onpagechange(budgetandOrg.value)" placeholder="Example link">
        </div>
     

        <div class="btn-block two-button">
          <a [routerLink]="['/onboarding/family/location']" class="btn prev-arrow-button" title="Previous">Previous</a>
          <a class="btn next-arrow-button" title="Next" (click)="onSubmit()" [ngClass]="{'disable':budgetandOrg.invalid}">Finish</a>
        </div>
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
      </form>
    </div>

    <app-onboarding-footer></app-onboarding-footer>

  </div>
</div>