@import "color.scss";
@import "fonts.scss";

.after-login-container {
  .content {
    .budget-and-organization {
      h4 {
        font-family: "circularbold";
        font-weight: normal;
        margin-bottom: 10px;
      }
      p {
        color: $grey !important;
        font-family: "circularbook";
      }
    }
    .budget-organization-details {
      margin-bottom: 47px;
      p {
        color: $black_shade_3 !important;
        .higlighted_text {
          color: $orange;
        }
      }
    }
  }
}

.btn-block.two-button {
  cursor: pointer;
}

.form-group .form-control.link-input {
  cursor: pointer;
}
