<app-header></app-header>

<div class="full-page-wrapper purple-bg">
  <div class="container">
    <div class="inner-page-container">
      <h1>Privacy Policy</h1>
      <p>Effective Date: October 30th, 2019</p>

      <div class="privacy-policy-wrapper">

        <div class="policy_inner">
          <h2>Introduction</h2>
          <p>Miracle on 22nd Street, Inc. <strong>(referred to throughout this policy as “Miracle”, “we” or “us”)</strong> is a nonprofit corporation. Through the website operated at miracleon22ndstreet.com and any other websites under our control (collectively the “Websites”), Miracle seeks to connect families in need with an army of “elves” dedicated to helping children fulfill their holiday wishes. The process may involve obtaining and utilizing personal information from the users of our Websites, in the ways described in this privacy policy (“Privacy Policy”). This Privacy Policy applies to the personal information we collect about you through the Websites, regardless of media platform (e.g. computer, smartphone, tablet, etc.).</p>
          <p>Your privacy is important to us, and this Privacy Policy is designed to make clear our intentions and approach to the collection and use of personal information in connection with our Websites and the choices you have. If you have any questions regarding this Privacy Policy, please contact us at <a href="mailto:miracleon22ndstreet@gmail.com">miracleon22ndstreet@gmail.com</a></p>
        </div>

        <div class="policy_inner">
          <h2>YOUR CONSENT</h2>
          <p>By using the Websites, you agree to the terms of this Privacy Policy. If you do not agree with the terms of this Privacy Policy, please refrain from using the Websites. Specifically, by submitting any Personal Information (as defined below in “Information We Collect & How We Collect It”) to us, you consent and agree that we may collect, use, and disclose that Personal Information in accordance with this Privacy Policy, and as permitted or required by law. You have the option of refraining from submitting Personal Information and can limit your use of the Websites to those aspects that do not require Personal Information if you do not agree with our practices outlined in this Privacy Policy regarding Personal Information. You also have the option of reviewing, updating, and deleting Personal Information you have submitted by contacting us at <a href="mailto:miracleon22ndstreet@gmail.com">miracleon22ndstreet@gmail.com</a></p>
        </div>

        <div class="policy_inner">
          <h2>PROTECTING CHILDREN'S PRIVACY</h2>
          <p>We strongly believe in protecting the privacy of children. Our website is not directed toward children under 13, and we do not knowingly collect personal information from children under 13.</p>
          <p>Other than collecting the information necessary from parents and/or legal guardians to enable us to fulfill the wish lists of children in need, we do not knowingly collect or maintain any Personal Information on our Websites about persons under 13 years of age. Upon learning of the existence of Personal Information concerning persons less than 13 years of age that has been collected on our Websites without verified parental consent, we will take appropriate steps to delete it. If you are concerned that your child has provided us with personal information, please contact us at <a href="mailto:miracleon22ndstreet@gmail.com">miracleon22ndstreet@gmail.com</a> to review, modify or delete such information.</p>
        </div>

        <div class="policy_inner">
          <h2>INFORMATION WE COLLECT & HOW WE COLLECT IT</h2>
          <p>For the purposes of operating, improving, and monitoring the user experience on our Websites and our operations generally, we collect various information from people using the Websites. This information is broadly of two types:
            <span> <strong>1. Personal Information</strong> (information which is personal to you and can be used to identify you, such as your name and email address)</span>
            <span><strong>2. General Information</strong> (information which cannot be used to identify you, such as the number of users—but not their names—who have visited the Websites).</span>
          </p>

          <p><strong>General Information & Cookies.</strong> When you access our Websites, we may collect General Information including, but not limited to, pages visited, hyperlinks used, type of device used, date, and time spent on our Websites.</p>
          <p>Collecting such General Information may involve logging the IP address, operating system and browser software used by individual site visitors. From such information a user’s Internet Service Provider and other data could be inferred, but cannot be used to personally identify you. We use this information to understand how to service users of our Websites and improve our Websites and programs by using Google Analytics or other website analysis tools. </p>
          <p>We may also use cookies and/or other technologies to store and help track information about you to provide you with a customized and personal service. Most browsers are initially set to accept such technologies and offer easy instructions on setting your browser to reject some or all of them. For example, you may choose to delete cookies at any time. However, please note that various personalized functions and benefits of the Websites may not work properly if you reject our cookies or other web technologies.</p>
          <p>We do not track visitors across third party websites to provide targeted advertising, and therefore do not respond to Do Not Track (DNT) signals.</p>

          <p><strong>Personal Information.</strong> You can access content on our Websites without revealing any Personal Information. We only collect Personal Information when you provide it to us directly, for example:</p>

          <ul class="rounded_list white">
            <li>If you register to join Santa’s List as a family in need of help;</li>
            <li>If via the Put Me On Santa’s List page, you agree to share your story and any Personal Information on the Facebook Group for Miracle on 22nd Street;</li>
            <li>If you register to become an Elf in order to fulfill wish lists and letters from families in need.</li>
            <li>If you register with us to receive email newsletters or other communications from us;</li>
            <li>If you contact us through the Websites;</li>
            <li>If you donate to us;</li>
            <li>If you participate with or provide User Content (as defined in the Terms and Conditions of Use) such as comments on social media accounts operated by Miracle;</li>
            <li>When we need to verify your account information.</li>
            <li>When you interact with any Miracle page or account on a social media platform, such as Facebook, Twitter, Google+, LinkedIn, Tumblr, YouTube, or Pinterest (collectively, “Miracle Social Media”), or when you use your social media account or credentials to log into the Websites, we may also collect the Personal Information that you make available to us on that page or through that account.</li>
          </ul>

          <p><strong>Collection of Personal Information by Third Party Service Providers.</strong> When you make an online donation to Miracle, you will be directed to the Causevox website, and you will be asked to provide Personal Information to Causevox to complete the transaction. At this point, you will be governed by Causevox’ privacy policy.</p>
        </div>

        <div class="policy_inner">
          <h2>HOW WE USE PERSONAL INFORMATION WE COLLECT</h2>
          <p>We use Personal Information in any of the following ways:</p>
          <p>Donnations. As noted above, Miracle collects donations via the Websites through a third party, Causevox. Causevox uses the Personal Information you provide to them to process your donation. Causevox will not provide us with your credit card information, but they will give us your name and contact information, which we may use in the future to contact you.</p>
          <p>For Communications with You. To communicate with you about your involvement with us:</p>
          <p>If you provide us with a wish, an elf assigned to fulfill your wish list may initiate contact with you so that your child can receive his/her holiday wish;</p>
          <p>If you are an elf, to facilitate your commitment to fulfilling a letter or helping out with the organization generally;</p>
          <p>To communicate with you, if you have elected to join our mailing list;</p>

          <ul class="rounded_list white">
            <li>To respond to you when you contact us. We may also archive this information and/or use it for future communications with you;</li>
            <li>To contact you with service messages related to or affecting your use of our Websites, for example, to send you updates about changes in our terms or policies;</li>
            <li>To investigate any activities that may violate our policies or be illegal;</li>
            <li>To manage and operate our organization in general.</li>
          </ul>
        </div>

        <div class="policy_inner">
          <h2>DISCLOSURE OF PERSONAL INFORMATION</h2>
          <p>We will not disclose any Personal Information we gather from you through the Websites, except as forth in this Privacy Policy (or specifically agreed to by you).</p>
          <p><strong>Elves.</strong> If you request a holiday gift through the Websites, we will share your Personal Information with an elf assigned to you. Your assigned elf may use this information to send your family a holiday gift or gifts. Your elf may also communicate with you about your holiday wish through the address or email you have provided. Elves may share this information with third parties in connection with fulfilling a wish by purchasing and sending gifts from an online or other merchant. Under our Terms and Conditions of Use, we require elves to commit to using your Personal Information only for the purposes of sending a holiday gift to requesting families and communication about such gift unless otherwise permitted by you; however, we are not able to and do not take responsibility for controlling the elves’ use of Personal Information.</p>
          <p><strong>Third Party Service Providers.</strong> We may use third party service providers to help us operate this Website or administer activities on our behalf, such as sending emails or fulfilling orders. We may share your information with these third parties for those limited purposes. Under all circumstances, however, these third parties would be required to maintain confidentiality and security of any Personal Information.</p>
          <p><strong>Program Partners.</strong> We may enter into a special relationship with other organizations, such as Patrol Borough Brooklyn North, to expand the reach of our services. Any Personal Information that you provide to us may be shared with these third party partners (“Program Partners”). By providing your information, you also consent to our providing your Personal Information to Program Partners, who will use your information in accordance with their own privacy practices. Under all circumstances, however, these Program Partners will be required to use your Personal Information obtained from us only for the purposes of working with us to further Miracle’s mission or as otherwise permitted by you.</p>
          <p>Legal and Governmental Authorities/Protection. To comply with legal requirements that may arise, we may share your Personal Information if requested or required to do so by law or government authorities, or to protect our rights and property under the law. We also may share your Personal Information when necessary to investigate, prevent, or take action regarding illegal or suspected illegal activities and to protect and defend the rights, property, or safety of Miracle and its staff, its properties, users of our Websites, or others.</p>
          <p>Restructuring. If we ever merge with or otherwise transfer our activities to another nonprofit, we may disclose and/or transfer your Personal Information to that entity, provided that entity agrees to treat your Personal Information with protections similar to those under this Privacy Policy.</p>
          <p>User Content. Your name or username will appear next to any User Content (as defined in our Terms and Conditions of Use) you submit to us. If you post Personal Information in comments or other public forums on our Websites or on Miracle Social Media (including, without limitation, the Miracle Facebook webpage), that information will be publicly available. If you are concerned about your privacy, we encourage you to use a username that is not personally identifiable and to refrain from posting Personal Information in comments or other public forums on our Websites or Miracle Social Media.</p>
          <p>Aggregated Data. We may share Non-Personal Information in an aggregated form or publish information based on aggregated data. However, we will only do so in a way that your personal identity is protected.</p>
        </div>

        <div class="policy_inner">
          <h2>YOUR CHOICES AND COMMUNICATIONS PREFERENCE</h2>
          <p>You can elect to opt-out of marketing communications from us via the unsubscribe mechanism provided within the communications that you receive from us. Even if you unsubscribe from general email communications, we reserve the right to notify you of changes or updates to the Websites and to communicate with you about your user account(s) or User Content you have submitted as necessary.</p>
        </div>

        <div class="policy_inner">
          <h2>ACCESS, REVIEW, CHANGING AND DELETING PERSONAL INFORMATION</h2>
          <p>If you have questions about reviewing, editing or deleting the Personal Information you have provided to us please contact us at [inquiries@miracleat22ndstreet.com]. Please note, however, that even if you delete your information, there may still be residual information about you in our systems, for example in our log files. Also, please note that we may retain certain Personal Information necessary for us to operate our programs, to comply with our legal obligations, meet regulatory requirements, prevent fraud and abuse, or enforce our Terms and Conditions of Use.</p>
        </div>

        <div class="policy_inner">
          <h2>YOUR RESPONSIBILITIES</h2>
          <p>It is your responsibility to maintain the confidentiality of your password(s).</p>
          <p>You are also responsible for ensuring the accuracy of the Personal Information you submit to us. If you wish to continue participating in our services and receiving communications from us, you are also responsible for updating the information you originally provided to us when it changes. You can update your Personal Information at any time by logging into your relevant user accounts with us and our third party service providers. If you have any questions about updating your Personal Information, please contact us at [miracleon22ndstreet@gmail.com]. </p>
        </div>

        <div class="policy_inner">
          <h2>EXTERNAL LINKS</h2>
          <p>We may provide links to Websites operated by outside parties, including social media platforms (“Third Party Websites”), that we believe may be of interest to you. We do not disclose your Personal Information to these Third Party Websites without obtaining your consent. However, if you choose to interact with Third Party Websites from our Websites (such as by “liking” something on Facebook or sharing via a social media platform), then your activities will not be governed by this Privacy Policy but by the privacy policy on that Third Party Website. Please review their privacy policies and terms of service before disclosing any Personal Information there. We do not review and expressly do not endorse and are not responsible for the privacy practices of these Third Party Websites. </p>
          <p>We may also maintain a page on Facebook or other Miracle Social Media (as defined in “Information We Collect and How We Collect It” above). Those pages and your interaction with them are governed by the privacy policies of Facebook or other relevant social media, not by our Privacy Policy. As with other Third Party Websites, we do not endorse and are not responsible for the privacy practices of social media platforms, although we may have a presence on them.</p>
        </div>

        <div class="policy_inner">
          <h2>SECURITY</h2>
          <p>We are committed to protecting the security of our users’ Personal Information. To that end, we use industry standard security practices to keep your Personal Information private, and to protect it from disclosure to or access by third parties. We will not share it with third parties, except as directed by you or as otherwise specified in this Privacy Policy. Please note, however, that we do not and cannot guarantee the security of Personal Information, and there is some risk that an unauthorized third party may find a way to circumvent our security systems, or that transmission of your information over the Internet will be intercepted. We disclaim all liability involving Personal Information submitted through our Websites.</p>
        </div>

        <div class="policy_inner">
          <h2>CHANGING OUR PRIVACY POLICY</h2>
          <p>We review our privacy practices from time to time, and these practices are subject to changes and updates, which will be effective immediately. We will notify you of any material change to this Privacy Policy by reflecting the change on this Privacy Policy page, and by updating the Effective Date located at the top of this page. To ensure familiarity with the current version of our Privacy Policy, return to this page periodically. We will not apply any changes retroactively.</p>
        </div>

        <div class="policy_inner">
          <h2>GOVERNING LAW; INTERNATIONAL USERS</h2>
          <p>This Privacy Policy shall be governed by the laws of the State of New York (United States), excluding any laws that might direct the application of the laws of another jurisdiction. Note that we may store and process Personal Information on servers or on a cloud located in the United States or elsewhere. The data protection laws of New York and the United States generally may not be as comprehensive or the same as those in the country where you are located. By using our Websites, you agree and consent that your Personal Information may be transferred to or stored in facilities in the United States or elsewhere.</p>
        </div>

        <div class="policy_inner">
          <h2>QUESTIONS OR CONCERNS</h2>
          <p>If you have any trouble logging in, or have any privacy-related questions or unresolved problems, please contact us at miracleon22ndstreet@gmail.com.</p>
        </div>

      </div>
    </div>

  </div>

  <app-footer></app-footer>
  
</div>