<div class="full-page-wrapper thank-you-wrapper">
  <div class="after-login-container">
    <div class="content">
      <div class="logout-wrapper">
        <button class="orange-button" (click)="logoutAction()">Logout</button>
      </div>
      <app-onboarding-family-nav></app-onboarding-family-nav>
      <i><img src="assets/images/tick-circle-orange.svg" alt=""></i>
      <h2>THANK YOU FOR SUBMITTING !!!</h2>
      <!-- <p>You are currently pending approval from the admin team.</p> -->
      <p>Thank you for submitting your family to Miracle on 22nd Street. You will be notified if you are matched with an elf.</p>
      <p>Happy holidays!</p>
    </div>
    <app-onboarding-footer></app-onboarding-footer>
  </div>
</div>