::ng-deep .letter-profile-view-popup-open {
  overflow: hidden;
  app-family-match-letter-view-popup {
    .modal-overlay {
      opacity: 1;
      visibility: visible;
    }
    .modal-wrapper {
      opacity: 1;
      visibility: visible;
    }
  }
}
