$black: #000;
$white: #fff;
$primary: #483565;
$orange: #B82E26;
$orange_shade_1: #be3330;
$orange_shade_2: #ffcdcc;
$light_orange: #ffdfde;
$light_orange_2: #ffd1d0;
$black_shade_2: #1d1c1d;
$black_shade_3: #4d4e5e;
$black_shade_4: #464546;
$grey: #acb3be;
$grey_shade_1: #dbe1e7;
$grey_shade_2: #d5dce3;
$grey_shade_3: #dddddd;
$grey_shade_4: #9d9d9d;
$grey_shade_5: #f5f5f5;
$grey_shade_6: #6a696a;
$grey_shade_7: #ededed;
$grey_shade_8: #f8f8f8;
$dark_green: #017a5a;
$green: #60d957;
$green_shade_1: #85ff00;
$blue: #0076ff;

// dashboard color
$grey_shade_9: #babdca;
$grey_shade_10: #f2f3f8;
$grey_shade_11: #e6e7ec;
$grey_shade_12:#EFEFF2;
$grey_shade_13:#e8e8e8;
$grey_shade_14:#f1f1f1;
$black_shade_5: #313440;
$dark_cyan: #028489;
$black_shade_6:#252426;
$twilight: #573f78;