@font-face {
  font-family: "GilroyBold";
  src: url("~src/assets/fonts/Radomir_Tinkov_GilroyBold_2.eot");
  src: url("~src/assets/fonts/Radomir_Tinkov_GilroyBold_2.eot") format("embedded-opentype"),
    url("~src/assets/fonts/Radomir_Tinkov_GilroyBold_2.woff2") format("woff2"),
    url("~src/assets/fonts/Radomir_Tinkov_GilroyBold_2.woff") format("woff"),
    url("~src/assets/fonts/Radomir_Tinkov_GilroyBold_2.ttf") format("truetype"),
    url("~src/assets/fonts/Radomir_Tinkov_GilroyBold_2.svg#Radomir_Tinkov_GilroyBold_2") format("svg");
}
@font-face {
  font-family: "GilroyRegular";
  src: url("~src/assets/fonts/Radomir_Tinkov_GilroyRegular_1.eot");
  src: url("~src/assets/fonts/Radomir_Tinkov_GilroyRegular_1.eot") format("embedded-opentype"),
    url("~src/assets/fonts/Radomir_Tinkov_GilroyRegular_1.woff2") format("woff2"),
    url("~src/assets/fonts/Radomir_Tinkov_GilroyRegular_1.woff") format("woff"),
    url("~src/assets/fonts/Radomir_Tinkov_GilroyRegular_1.ttf") format("truetype"),
    url("~src/assets/fonts/Radomir_Tinkov_GilroyRegular_1.svg#Radomir_Tinkov_GilroyRegular_1") format("svg");
}
@font-face {
  font-family: "GilroyExtraBold";
  src: url("~src/assets/fonts/RadomirTinkovGilroyExtraBold.eot");
  src: url("~src/assets/fonts/RadomirTinkovGilroyExtraBold.eot") format("embedded-opentype"),
    url("~src/assets/fonts/RadomirTinkovGilroyExtraBold.woff2") format("woff2"),
    url("~src/assets/fonts/RadomirTinkovGilroyExtraBold.woff") format("woff"),
    url("~src/assets/fonts/RadomirTinkovGilroyExtraBold.ttf") format("truetype"),
    url("~src/assets/fonts/RadomirTinkovGilroyExtraBold.svg#RadomirTinkovGilroyExtraBold") format("svg");
}

@font-face {
  font-family: "GilroyMedium";
  src: url("~src/assets/fonts/RadomirTinkovGilroyMedium.eot");
  src: url("~src/assets/fonts/RadomirTinkovGilroyMedium.eot") format("embedded-opentype"),
    url("~src/assets/fonts/RadomirTinkovGilroyMedium.woff2") format("woff2"),
    url("~src/assets/fonts/RadomirTinkovGilroyMedium.woff") format("woff"),
    url("~src/assets/fonts/RadomirTinkovGilroyMedium.ttf") format("truetype"),
    url("~src/assets/fonts/RadomirTinkovGilroyMedium.svg#RadomirTinkovGilroyMedium") format("svg");
}

@font-face {
  font-family: "circularbook";
  src: url("~src/assets/fonts/circularbook.eot");
  src: url("~src/assets/fonts/circularbook.eot") format("embedded-opentype"),
    url("~src/assets/fonts/circularbook.woff2") format("woff2"), url("~src/assets/fonts/circularbook.woff") format("woff"),
    url("~src/assets/fonts/circularbook.ttf") format("truetype"),
    url("~src/assets/fonts/circularbook.svg#circularbook") format("svg");
}
@font-face {
  font-family: "circularbold";
  src: url("~src/assets/fonts/circularbold.eot");
  src: url("~src/assets/fonts/circularbold.eot") format("embedded-opentype"),
    url("~src/assets/fonts/circularbold.woff2") format("woff2"), url("~src/assets/fonts/circularbold.woff") format("woff"),
    url("~src/assets/fonts/circularbold.ttf") format("truetype"),
    url("~src/assets/fonts/circularbold.svg#circularbold") format("svg");
}
@font-face {
  font-family: "circularmedium";
  src: url("~src/assets/fonts/circularmedium.eot");
  src: url("~src/assets/fonts/circularmedium.eot") format("embedded-opentype"),
    url("~src/assets/fonts/circularmedium.woff2") format("woff2"), url("~src/assets/fonts/circularmedium.woff") format("woff"),
    url("~src/assets/fonts/circularmedium.ttf") format("truetype"),
    url("~src/assets/fonts/circularmedium.svg#circularmedium") format("svg");
}
