<nav class="inner-header-nav" *ngIf="innerHeaderNavItems?.length">
  <ul>
    <li *ngFor="let menuItems of innerHeaderNavItems">
      <a *ngIf="(role=='family' && menuItems.label=='Conversations' ) || role!='family'  " [routerLink]="role!='family' ? [menuItems.link] : []" title={{menuItems.label}} routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i>
          <img src={{menuItems.img}} alt="">
          <img class="active_img" src={{menuItems.activeImg}} alt="">
        </i>
        {{menuItems.label}}
      </a>
    </li>
  </ul>
</nav>