@import "color";

.family_left_content_outer {
  .title_block {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      margin-bottom: 0;
    }
    h4{
    font-size: 20px;
    margin-bottom: 0;
    }
    .see_all{
      font-size: 12px;
    line-height: 1.33;
    font-family: "circularmedium";
    text-decoration: none;
    color: #babdca;
    &:hover{
      text-decoration: none;
    color: $orange;
    }
    }
  }
}

::ng-deep .inner-header-nav, .inner-header-nav {
  display: none;
}

.ngx-pagination .disabled{
  padding:-0.8125rem 0.625rem !important;
}


.my-pagination{
 text-align: center;
 position: relative;
 top:20px;
}

.ngx-pagination a{
  padding:0.115rem 0.425rem !important;
}

.ngx-pagination .current{
  background: #cb5b58 !important;
}



