<div class="modal-overlay" (click)="closeMatchFamilyPopup()"></div>
<div class="modal-wrapper">
  <div class="modal modal-sm">
    <div class="modal-sm-inner">
      <div class="modal-header">
        <button class="close-modal" (click)="closeMatchFamilyPopup()" title="close">
          <img src="assets/images/modal-close.svg" alt="">
        </button>
        <h2>Flag to naughty list!</h2>
        <p>Why you want to flag Joe Melany family to naughty list?</p>
      </div>

      <form>
        <div class="form-group">
          <div class="custom-radio-btn stacked">
            <label class="radio-container">
              <input type="radio" name="radio"  value="true">
              <span>
                <i class="icon">
                  <img alt="" src="assets/images/chat-grey.svg">
                  <img alt="" class="active_img" src="assets/images/chat-white.svg">
                </i>Offensive message
              </span>
            </label>
            <label class="radio-container">
              <input type="radio" name="radio"  value="false">
              <span>
                <i class="icon">
                  <img alt="" src="assets/images/pic-grey.svg">
                  <img alt="" class="active_img" src="assets/images/pic-white.svg">
                </i>Inappropriate photos/letters</span>
            </label>
            <label class="radio-container">
              <input type="radio" name="radio"value="false">
              <span>
                <i class="icon">
                  <img alt="" src="assets/images/chat-grey.svg">
                  <img alt="" class="active_img" src="assets/images/chat-white.svg">
                </i>Bad behavior</span>
            </label>
            <label class="radio-container">
              <input type="radio" name="radio" value="false">
              <span>
                <i class="icon">
                  <img alt="" src="assets/images/chat-grey.svg">
                  <img alt="" class="active_img" src="assets/images/chat-white.svg">
                </i>Feel like spam</span>
            </label>
            <label class="radio-container">
              <input type="radio" name="radio"  value="false">
              <span>
                <i class="icon">
                  <img alt="" src="assets/images/note-grey.svg">
                  <img alt="" class="active_img" src="assets/images/note-white.svg">
                </i>Others</span>
            </label>
          </div>

          <textarea class="form-control" placeholder="Additional Info (Required)"></textarea>
        </div>

        <div class="modal-footer">
          <button class="orange-button "><span><img src="assets/images/flag1-white.svg" alt=""></span>Flag to naughty list</button>
        </div>

      </form>
    </div>
  </div>
</div>