<!-- <div class="page-overlay" (click)="closeFilterSidebar()"></div>
<div class="family-profile-detail sidebar filter-sidebar">

  <div class="sidebar-content">

    <img class="close-btn" src="assets/images/close - gray.svg" alt="" (click)="closeFilterSidebar()">
    <form>
      <div class="form-group">
        <label>Choose Family Preferences</label>
        <div class="custom_radio_with_tick_container has_three">
          <div class="custom_radio_tick_outer">
            <label><img src="assets/images/boy.svg" alt=""></label>
            <input type="radio" name="familyPreferences" class="custom_input">
            <div class="outer_border">
              <div class="tick"></div>
            </div>
          </div>
          <div class="custom_radio_tick_outer">
            <label><img src="assets/images/girl.svg" alt=""></label>
            <input type="radio" name="familyPreferences" class="custom_input">
            <div class="outer_border">
              <div class="tick"></div>
            </div>
          </div>
          <div class="custom_radio_tick_outer">
            <label><img src="assets/images/boy-girl.svg" alt=""></label>
            <input type="radio" name="familyPreferences" class="custom_input" checked>
            <div class="outer_border">
              <div class="tick"></div>
            </div>
          </div>
        </div>
      </div>


      <div class="form-group">
        <label>Choose your Organization</label>
        <ejs-multiselect class="form-control multi-select" [dataSource]='organisationsData' [value]='organisationsDefault' [fields]='organisationsFields' [placeholder]='organisationsWaterMark'></ejs-multiselect>
      </div>
      <div class="location-group">
  
      <div class="form-group">
          <label>Choose your Location</label>
        <ejs-dropdownlist class="form-control" id='select-dropdown' [dataSource]='stateData' [value]='stateDefault' placeholder='Anywhere in United States'></ejs-dropdownlist>
      </div>

  </div>
  
  <div class="btn-block two-button">
    <a href="javascript:void(0)" class="border-button btn" title="Cancel" (click)="closeFilterSidebar()">Cancel</a>
    <a href="javascript:void(0)" class="orange-button btn" title="Apply Changes"  (click)="applyChanges()" >Apply Changes</a>
  </div>
  </form>
</div>
</div> -->