@import "color";
@import "break-points";
.full-page-wrapper {
  background: $primary;
}
.content-wrapper {
  .left-container {
    .landing-page-container {
      padding-top: 140px;
      @include bp(smd-max) {
        max-width: 100%;
      }
      h1 {
        color: $white;
        margin-bottom: 29px;
      }
      p {
        line-height: 1.25;
        margin-bottom: 58px;
        color: $white;
      }
    }
  }
  .landing_btns {
    display: flex;
    align-items: center;
  }
}

.orange-button {
  font-family: "circularbook";
  display: inline-flex;
  width: auto;
  padding: 0 32px;
  margin: 0;
  background: rgb(166,49,52);
}

input {
  background: $primary;
  color: #FFF !important;
}

input, select, textarea{
  color: #FFF;
}

textarea:focus, input:focus {
  color: #FFF;
}