<app-header></app-header>

<div class="full-page-wrapper purple-bg">
  <div class="container">
    <div class="inner-page-container no-bottom-spacing">
      <h1>The Board of Elves</h1>

      <ul class="board_members">
          <li>
            <div class="member_outer">
              <i class="dp"><img src="assets/images/amanda.png" alt=""></i>
              <h2>Amanda Lehner</h2>
              <p>Amanda Lehner is Co-Owner and Lead Strategist at HelpGood.  With 15 years of experience in nonprofit digital communications and social marketing, Amanda likes to be involved at every level of a project from digital strategy to content production.  Amanda was the Director of Digital at the Ad Council where she was responsible for digital strategy and marketing the Ad Council’s 50+ PSA campaigns.  Before joining the Ad Council, Amanda was the Communications Manager at SAMHSA’s National Suicide Prevention Lifeline where she managed their social media presence and set up the first crisis chat system for the VA's Veteran Crisis Line.</p>
            </div>
          </li>
          <li>
            <div class="member_outer">
              <i class="dp"><img src="assets/images/jim.png" alt=""></i>
              <h2>Jim Glaub</h2>
              <p>Jim Glaub is a recognized leader in innovative marketing, social media, web design and video production for the theatre and has worked on over fifty Broadway shows. Jim is on the advisory committee for the American Theatre Wing. A member of the Broadway League, the board of trustees for the Woodshed Collective. He's the proud winner of two 2016 Webby Awards, Telly Awards in 2018, 2017 and 2016 and a 2014 Webby Honor. He's been featured in the New York Times, The Wall Street Journal, Bloomberg BusinessWeek, Forbes, Variety, Mashable, NPR's Marketplace, Playbill, Broadwayworld, The Price is Right and Cash Cab.</p>
            </div>
          </li>
          <li>
            <div class="member_outer">
              <i class="dp"><img src="assets/images/selena.png" alt=""></i>
              <h2>Selena Lounds</h2>
              <p>Selena Lounds holds a leadership position at Coach, a global modern luxury company and the original house of leather in New York City. She is an innovative, intuitive designer, project manager, and technology advocate with a diverse creative background. Though trained as a graphic designer, Selena has spent 15 years using her design skills and aptitude for technology to forge a path within NYC’s fashion industry. Her passion for design and technology and their ability to empower teams to create, collaborate, and streamline their processes informs her day-to-day management and problem-solving decisions.</p>
            </div>
          </li>
          <li>
            <div class="member_outer">
              <i class="dp"><img src="assets/images/greg.png" alt=""></i>
              <h2>Greg McGovern</h2>
              <p class="text_align">Greg has led strategy, management and fundraising initiatives for several nonprofit organizations, including: 3 Generations; Alvin Ailey American Dance Theater; American Red Cross; Brookings Institution; Child Mind Institute; Empire State Pride Agenda; The Flawless Foundation; Maria Fareri Children's Hospital; NYU Child Study Center at NYU Langone Medical Center; and Westchester Medical Center. He also has an extensive background in nonprofit program development, implementation and evaluation. Greg has served as the Programming and Public Relations Officer for the Weatherhead East Asian Institute at Columbia University.</p>
            </div>
          </li>
      </ul>


      <h2 class="content-heading">LGBTQ+ Outreach Committee</h2>
      <ul class="committee">
        <li>Ian Weiss</li>
        <li>Sarah Klein</li>
      </ul>
      <br>
      <br>
      <h2 class="content-heading">Our Partners</h2>
      <ul class="committee">
        <li><img class ="img_one" src="assets/images/SCF_Logo_Squared.png" alt=""></li>
        <li><img class = "img_one "src="assets/images/logo_partner.png" alt=""></li>
      </ul>
    </div>
  </div>

  <app-footer></app-footer>
</div>