.content-wrapper {
  .inner-content {
    h2 {
      a {
        margin-right: 16px;
      }
    }
    .form-group{
        margin-bottom: 25px;
    }
    p {
      font-size: 14px;
      line-height: 1.14;
    }
  }
}
