<app-inner-header></app-inner-header>

<div class="inner-page-wrapper">
  <div class="container lg">
    <div class="row">
      <div class="col2 family_left_content">
        <div class="page_info">
          <h3>Matched Families</h3>
          <!-- <p>Lorem Ipsum is simply dummy</p> -->
        </div>

        <app-admin-menu></app-admin-menu>
      </div>

      <div class="col10">

        <div class="search-bar">
          <div class="search_left">
            <i><img src="assets/images/search.svg" alt=""></i>
            <input type="text" placeholder="Search with Name" [(ngModel)]="searchValue">
          </div>
          <button class="search_btn">
            <i>
              <img src="assets/images/filter-icon.svg" alt="">
              <!-- <em class="count">2</em> -->
            </i>Filter
          </button>
        </div>

        <div class="info-wrapper">
          <div class="user-info-detail"
            *ngFor="let families of approvedFamilies|matched:searchValue| paginate: { itemsPerPage: 6, currentPage: p }">
            <div class="img-block">
              <a (click)="getmatchedprofiles(families)" class="img-inner">
                <img src={{families.photo}} alt="">
              </a>
              <span class="cyan_strip truncated" title={{families.organisation}}>{{ families.organisation }}</span>
              <span *ngIf="families.status=='Approved'">
                <span class="cyan_strip truncated blue" title="Matched">Approved</span>
              </span>

              <ul class="link-wrapper">
                <li>
                  <button class="like-icon">
                    <i><img src="assets/images/flag1.svg" alt=""></i>
                  </button>

                </li>
                <li>
                  <button class="like-icon">
                    <i><img src="assets/images/chat-red.svg" alt=""></i>
                  </button>
                </li>
              </ul>
            </div>
            <div class="address-block">
              <h3>{{ families.name }}</h3>
              <p>{{ families.state }}</p>
            </div>
          </div>


          <h2 class="nodata" *ngIf="(approvedFamilies | matched: searchValue)?.length==0" style="color: red">Data not
            found</h2>
          <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
          </ngx-loading>

          <div class="user-info-detail" *ngFor="let families of declinedfamilys|filter:searchValue| paginate: { itemsPerPage: 6, currentPage: p }">
            <div class="img-block">
              <a (click)="getmatchedprofiles(families)" class="img-inner">
                <img src={{families.photo}} alt="">
              </a>
              <span class="cyan_strip truncated" title={{families.organisation}}>{{ families.organisation }}</span>

              <span *ngIf="families.status=='Declined'">
                <span class="cyan_strip truncated blue" title="Matched">declined</span>
              </span>
              <ul class="link-wrapper">
                <li>
                  <button class="like-icon">
                    <i><img src="assets/images/flag1.svg" alt=""></i>
                  </button>

                </li>
                <li>
                  <button class="like-icon">
                    <i><img src="assets/images/chat-red.svg" alt=""></i>
                  </button>
                </li>
              </ul>
            </div>
            <div class="address-block" (click)="getmatchedprofiles(families)">
              <h3>{{ families.name }}</h3>
              <p>{{ families.state }}</p>
            </div>
          </div>

          <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
          </ngx-loading>



          <div class="user-info-detail" *ngFor="let families of matchedProfiles|filter:searchValue| paginate: { itemsPerPage: 6, currentPage: p }">
            <div class="img-block">
              <a href="javascript:void(0)" class="img-inner">
                <img src={{families.photo}} alt="">
              </a>
              <span class="cyan_strip truncated" title={{families.organisation}}>{{ families.organisation }}</span>
              <span *ngIf="families.match_flag==true">
                <span class="cyan_strip truncated blue" title="Matched">Matched</span>
              </span>

              <ul class="link-wrapper">
                <li>
                  <button class="like-icon">
                    <i><img src="assets/images/flag1.svg" alt=""></i>
                  </button>

                </li>
                <li>
                  <button class="like-icon">
                    <i><img src="assets/images/chat-red.svg" alt=""></i>
                  </button>
                </li>
              </ul>
            </div>
            <div class="address-block">
              <h3>{{ families.name }}</h3>
              <p>{{ families.state }}</p>
            </div>
          </div>
          <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
          </ngx-loading>
        </div>
        <pagination-controls  class="stylePagination" autoHide="true" responsive="true" (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>