<div class="full-page-wrapper">
  <div class="content-wrapper login-signup-container">
    <div class="left-container">
      <div class="login-signup-content">
        <a [routerLink]="['/login/elf']" class="return-link"><img src="assets/images/rounded-left-arrow.svg" alt=""></a>
        <a href="#" class="logo">
          <img src="assets/images/logo-orange.svg" />
        </a>
        <div class="inner-content">
          <h2><a [routerLink]="['/login/elf']"><img src="assets/images/left-arrow.svg" alt=""></a>Forgot password?</h2>
          <form  name="forgetPasswordElf" [formGroup]=" ">
            <div class="form-group" [ngClass]="{'has-error':forgetPasswordElf.get('email').touched && forgetPasswordElf.get('email').invalid}">
              <label>Registered Email Address<sup>*</sup></label>
              <input type="email" class="form-control" placeholder="you@gmail.com" formControlName="email">
              <span class="error-msg" *ngIf="forgetPasswordElf.get('email').touched && forgetPasswordElf.get('email').invalid">
                <span *ngIf="forgetPasswordElf.get('email').errors.required">
                  This field is required
                </span>
                <span *ngIf="forgetPasswordElf.get('email').errors.pattern">
                  Please enter a valid email id
                </span>
                <!-- <span *ngIf="forgetPasswordElf.get('email').errors.email">
                  Email must be a valid email address
                </span> -->
              </span>
            </div>
          </form>
          <p>Enter the email address associated with your account, and we’ll email you a link to reset your password.
          </p>
          <!-- <a class="dark-orange-button"  title="Send resend link" [ngClass]="{'disable':forgetPasswordElf.invalid}" (click)="resetPasswordElf(forgetPasswordElf.value)">SEND RESET LINK</a> -->
          <a class="dark-orange-button"  title="Send resend link" [ngClass]="{'disable':forgetPasswordElf.invalid}" (click)="resetPasswordElf()">SEND RESET LINK</a>
        </div>
      </div>
    </div>
    <div class="right-container" style="background-image: url('assets/images/banner.svg')">
    </div>
  </div>
</div>
