<div class="full-page-wrapper">
  <div class="content-wrapper login-signup-container">
    <div class="left-container">
      <div class="login-signup-content">
        <a [routerLink]="['/']" class="return-link"><img src="assets/images/rounded-left-arrow.svg" alt=""></a>
        <a href="#" class="logo">
          <img src="assets/images/logo-orange.svg" />
        </a>
        <div class="inner-content">
          <h2>Login to your admin account</h2>
          <form name="elfLogin" [formGroup]="elfLogin" (keyup.enter)="loginElf(elfLogin.value)"   (ngSubmit)="loginElf(elfLogin.value)">
            <div class="form-group"
              [ngClass]="{'has-error':elfLogin.get('email').touched && elfLogin.get('email').invalid}">
              <label>Email address <sup>*</sup>
              </label>
              <input type="email"  class="form-control" formControlName="email" placeholder="you@gmail.com">
              <span class="error-msg" *ngIf="elfLogin.get('email').touched && elfLogin.get('email').invalid">
                <span *ngIf="elfLogin.get('email').errors.required">
                  This field is required
                </span>
                <span *ngIf="elfLogin.get('email').errors.pattern">
                  Please enter a valid email id
                </span>
                <span *ngIf="elfLogin.get('email').errors.email">
                  Email must be a valid email address
                </span>
              </span>
            </div>
            <div class="form-group password-filed"
              [ngClass]="{'has-error':elfLogin.get('password').touched && elfLogin.get('password').invalid}">
              <label>Password <sup>*</sup>
              </label>
              <input type="password" #password class="form-control" formControlName="password"
                placeholder="Enter 6 characters or more">
              <div class="error_msg_hint">
                <!-- <span class="password-hint">Password Hint:Ad1blw</span> -->
                <span class="error-msg" *ngIf="elfLogin.get('password').touched && elfLogin.get('password').invalid">
                  <span *ngIf="elfLogin.get('password').errors.required">
                    This field is required
                  </span>
                  <span *ngIf="elfLogin.get('password').errors.pattern">
                    Please set a password which has atleast 1 uppercase and 1 lowercase and 1 digit
                  </span>
                  <span *ngIf="elfLogin.get('password').errors.maxlength">
                    Password should be between 6-16(Max limit) Characters
                  </span>
                  <span *ngIf="elfLogin.get('password').errors.minlength">
                    Password should be between 6-16(Max limit) Characters
                  </span>
                </span>
              </div>
              <!-- if input value > 0 add class 'enable' in em  -->
              <em class="password-hide-show">
                <a >Forgot Password?</a>
              </em>
            </div>
            <div class="custom_checkbox">
              <input type="checkbox" formControlName="isRemberMeChecked" class="custom_input">
              <span class="checkmark"></span>
              <label>Remember Me</label>
            </div>
          </form>
          <button type="button" (click)="loginElf(elfLogin.value)" class="dark-orange-button"
            [ngClass]="{'disable': elfLogin.invalid}" title="Log in">LOGIN</button>
<!-- 
          <span class="optional-text">OR</span>
          <a class="border-button" title="Sign up">SIGN UP</a> -->
          
        </div>
      </div>
    </div>
    <div class="right-container" style="background-image: url('assets/images/banner.svg')">
    </div>
  </div>
</div>